{% load static %}

<section>
  <div class="socialmedia">
    <center>
      <h1>Check out our Social Media Handles</h1>
      <a href="#"><img src="{% static 'images/instagram.png' %} " width="80" height="80"></a>
      <a href="#"><img src="{% static 'images/youtube-squared.png' %} " width="80" height="80"></a>
      <a href="#"><img src="{% static 'images/whatsapp.png' %} " width="80" height="80"></a>
      <a href="#"><img src="{% static 'images/facebook.png' %} " width="80" height="80"></a>
    </center>
  </div>
</section>