<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>LockChain</title>
  {% include "section/load_head.html" %}
</head>

<body>
  {% include "section/navbar.html" %}

  <section id="about-course">
    <div class="about-course">
      <h3>About the course</h3>
      <h2>Importance Of Studying Literature</h2>
      <p>When we study literature, our horizons are broadened, because we can learn about and come to understand people
        who are different from us. Conversely, we might discover characters or poems that we really identify with—it can
        be really exciting and validating to discover that your exact thoughts and feelings have also been experienced
        by someone else. Because of these effects, literature encourages us to be sensitive to the whole spectrum of
        human experience and to consider this when making decisions in our day-to-day lives. Academically, studying
        literature also helps us to refine our own writing skills and expand our vocabularies.</p>
    </div>
  </section>
  <section id="video-class">
    <div class="video-class">
      <h3>Here you go with the video tutorials.
        Watch till the end to know about the assignments and details regarding assessment.</h3>
      <div class="video-law">
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLB5ECDeclpYouETW55aU0jkL094x-9RGh" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLB5ECDeclpYpGoNA_gR_ikzeVI626wAIR" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLB5ECDeclpYqY3mRcw_EP-4nKddcUAD09" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLB5ECDeclpYpK2Vz-ZYAetQTXE2jBG5A8" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLJvrw2GDzjfPfIjhjFGZDsKYgfhi8sgC2" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <h3 style="padding: 10px;margin: 10px;">Free courses related to Language and Arts provided by Open University has been
    embeded to the page. Make use of it. The course will be free only for the user logged in through this page.
    Happy Learning!</h3>
  <iframe src="https://www.open.edu/openlearn/languages/free-courses" width="95%" height="500px"
    align="center"></iframe>

  {% include "section/submit.html" %}

  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}

</body>

</html>