<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>LockChain</title>
  {% include "section/load_head.html" %}
</head>

<body>
  
  {% include "section/navbar.html" %}

  <section>
    <div class="jumbotron">
      <h1 class="display-4">Contact us</h1>
      <p class="lead">You can drop the mail or you can contact us on social platfroms also</p>
      <hr class="my-4">
      <a href="#"><img src="{% static 'images/facebook.png' %}" width="50" height="50">Facebook/TigerTechs EduFirm</a><br>
      <a href="#"><img src="{% static 'images/instagram.png' %}" width="50" height="50">Instagram/TigerTechs_EduFirm</a><br>
      <a href="#"><img src="{% static 'images/whatsapp.png' %}" width="50" height="50">Save- TigerTechs Edufirm/ <div
          style="font-weight: 600;font-family: sans-serif;position: sticky;"> 7019594023</div></a><br>
      <a class="btn btn-primary btn-lg" href="#" role="button" style="padding: 10px;margin: 10px;"><svg width="1em"
          height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg>Contact by Mail</a>
    </div>
  </section>

  <section id="developers">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="jumbotron">
            <img src="{% static 'images/rahul_aradhya.jpg' %}" width="250px" height="250px">
            <h1 class="display-4">Rahul Aradhya T R</h1>
            <p class="lead">Frontend Dev, Content writer, Story Teller. Frontend tools: HTML5, CSS3, JS, and BootStrap4.
            </p>
            <hr class="my-4">
            <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/linkedin.png" />LinkedIN/Rahul Aradhya T
              R</a>
            <p>Mail: trraradhya@gmail.com</p>
            <p>Phone: 7019594023</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Digital CV</a>

          </div>
        </div>

        <div class="col-sm-4">
          <div class="jumbotron">
            <img src="{% static 'images/ataf.jpeg' %}" width="250px" height="250px">
            <h1 class="display-4">Ataf Fazledin Ahamed</h1>
            <p class="lead">Full Stack Dev</p>
            <hr class="my-4">
            <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/linkedin.png" />LinkedIN/Rahul Aradhya T
              R</a>
            <p>Mail: trraradhya@gmail.com</p>
            <p>Phone: 7019594023</p>
            <a class="btn btn-primary btn-lg" href="https://fazledyn.github.io/resume.pdf" role="button">Digital CV</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="jumbotron">
            <img src="{% static 'images/tiger.png' %}" width="250px" height="250px">
            <h1 class="display-4">Jeevan Reddy</h1>
            <p class="lead">Frontend Dev, Content writer, Story Teller. Frontend tools: HTML5, CSS3, JS, and BootStrap4.
            </p>
            <hr class="my-4">
            <a href="#"><img src="https://img.icons8.com/plasticine/50/000000/linkedin.png" />LinkedIN/Rahul Aradhya T
              R</a>
            <p>Mail: trraradhya@gmail.com</p>
            <p>Phone: 7019594023</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Digital CV</a>
          </div>

        </div>
      </div>
    </div>
    </div>

  </section>


  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}

</body>

</html>