<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HOME</title>
  {% include "section/load_head.html" %}
</head>

<body>

  {% include "section/navbar.html" %}

  <section id="about" style="padding: 30px;,margin: 15px;font-family: candara;">
    <div class="text1"
      style="font-size: x-large;background-color: #FF2929;color: white;padding-bottom: 30px;padding-left: 15px;padding-right: 15px;">
      <h1>Why Indonesian Students need TigerTechs EduFirm?</h1>
      <p>According to UNESCO, Indonesia's literacy rate 95% (Students within 15 years). Program for International
        Student Assessment[PISA] test last conducted in 2015 by OECD shows the result that Indonesian students
        performing at lower level in all areas of Science, Mathematics and Reading skills. 42% of Indonesian students
        falling to meet minimum standards in all three areas covered by their Test. Malaysia, Vetnam and Thailand
        students also maintains same standards.</p>

      <a href="/career"><label>Get started</label></a>
      <a href="#content-for-home"><label>Know more </label></a>
      <a href="/contact"><label>Get Developers</label></a>
    </div>

  </section>


  </div>
  <div class="picture">

  </div>
  </section>
  <section id="card">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="{% static 'images/Holland-web.png' %}" alt="Card image cap" width="100px" height="300px">
            <h5 class="card-title">Career Guide and RIASEC Test</h5>
            <p class="card-text">Read the content and know about the career opportunities on the basisi of subjects
              streams. Take a John Holland's RIASEC Test to judge which career suits you well.</p>
            <a href="/riasec" class="btn btn-primary">Get Started</a>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="{% static 'images/community-charity.jpg' %}" alt="Card image cap" width="100px"
              height="300px">
            <h5 class="card-title">Donate for Education</h5>
            <p class="card-text">Donate educational aids required for the students residing in the remote locations of
              Indonesia, who are not even available with necessary aids for Education.</p>
            <a href="charity.html" class="btn btn-primary">Donate now</a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="content-for-home">
    <div class="content-for-home">
      <div class="jumbotron jumbotron-fluid">
        <div class="container" style="background-color: #FCF39C;padding: 30px;,margin: 15px;font-family: candara;">
          <h1 class="display-4">
            The Asian Post :</h1>
          <p class="lead">
            The problem, as far as Indonesia go, is lack of expertise from Indonesia to Singapore.

            <p>Factors for Indonesians to evaluate an employment oppurtunity:</p>
            <ul>
              <li>77.6% - Fair and Market competitive compensation.</li>
              <li>6.9% - Good health benefits.</li>
              <li>7.2% - Career Advancement Oppurtunities.</li>
              <li>8.3% - Top Calibre Colleges.</li>
            </ul>

            <p>Leaving Indonesia and Relocating for job oppurtunity and career advancement:</p>
            <ul>
              <li>Indonesia to Singapore - 38%</li>
              <li>Indonesia to Europe - 13%</li>
              <li>Indonesia to Malaysia - 7%</li>
            </ul>
          </p>

          <p>According to Dominique Sierra, YouTuber
            Average performance of of Teachers in Indonesia is 53%</p>
        </div>
      </div>
      <div class="container" style="background-color: #F0FF7F;padding: 30px;,margin: 15px;font-family: candara;">
        <h1 class="display-4">
          What are the services provided by TigerTechs EduFirm?</h1>
        <p class="lead">
        </p>
      </div>
    </div>

    <div class="container-2" style="background-color: #C9FF7F;padding: 30px;,margin: 15px;font-family: candara;">
      <h2>
        Why TigerTechs Edufirm is important?</h2>
      <p class="lead">
        <p>
          5 Subsystems of indonesian Education System:</p>
        <ol>
          <li> Value oriented Education system.</li>
          <li> Open Education system.</li>
          <li> Diverse Education system.</li>
          <li> An Education system that is efficient in Managing time.</li>
          <li> The Education system adopted to the times.</li>
        </ol>

        <h3>Survey of UNESCO:</h3>

        <p>Indonesian Stduents reading interest is only 0.001%.</p>

        <p>Problems that Indonesian students facing [Analysed]:
          <ol>
            <li> Problem of Educational equality that is still unequal to 1 side in the society.</li>
            <li> Problems with educational costs.</li>
            <li> Quality of education that is still, lagging behind.</li>
        </p>
        </ol>
      </p>
      </p>
    </div>
    <div style="background-color: #9CFF7F;padding: 30px;,margin: 15px;font-family: candara;">
      <h3>What is special in TigerTechs Edufirm?</h3>
      <p>According to Macrotrends.net| Indonesia</p>
      <ul>
        <li> Indonesian Literacy rate: 95.66% [under 15].</li>
        <li>Poverty rate: 56% (2018)</li>
        <li>Under USD 5.50/ Day</li>
      </ul>

      <b>Unemployment rate(without work but available for seeking employment):
        <i>2019- 4.69%</i> </b>

      <b>Youth Unemployment rate(without work but available for seeking employment):
        <i>2019- 17.04%- </i>[15-24 years]</b>

      <p>The main reason behind all these things is lack of education and poverty.</p>
    </div>
    <div class="starting-button">
      <center>
        <p><b><i>Many are trying to overcome the education related problems. But we're trying to overcome the problems
              of Education along with the problems of not getting effective education by the below poverty level and
              poverty level indonesian students.</i></b></p>

        <div class="start-button">
          <a href="#"><button type="button" class="btn btn-primary btn-lg">GET STARTED</button></a>
      </center>
    </div>
    </div>

    {% include 'section/social_media.html' %}
    {% include 'section/footer.html' %}

</body>

</html>