<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Index</title>
  {% include 'section/load_head.html' %}
</head>

<body>

  {% include 'section/navbar.html' %}

  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="container1">
            <p class="promo-title">
              <h1 style="color: black;">LockChain</h1>
            </p>
            <p style="font-family:sans-serif;color:black;font-style:italic;font-weight:bold;"> The Website is created
              for the welfare of the students of Indonesia. Students of Indonesia are not ready to face the subjects and
              learn the concepts of science and mathematics. The main intension of this education site is to bring
              quality education to the students of Indonesia.

              You will be able to learn the science, mathematics, computers, programming, and language skills along with
              the interpersonal skills for the upskilling of personalities. You can also get ready for the standing
              ahead among your community. The enrichment of the quality of education of students in Indonesia is the
              main motivation for the trainers of this EduTech site.

              About eLearning Platform

              The eLearning platform is made to provide the educational support for the intermediate students and
              matriculation passed students. The type of education we are providing is technical and interpersonal
              skills. These skills are helpful for the upskilling themselves to stand as the eminent one among the
              community. The skills developed by the students of this edu site will be able to secure the greatest of
              jobs in Indonesia and will lead to a sustainable life among the community.

              Education is not only for a degree; it's for knowledge. Knowledge is not only for memorizing; it's for
              working over it to bring miracles to the world.
            </p>

          </div>
        </div>
      </div>
      <div class="button">
        <a href="/home"><button>Get Started</button></a>
      </div>

  </section>

  <section id="banner2">
    <div class="container">
      <div class="column">
        <div class="col-mr-8">
          <h1> eLearning Platform</h1>

          <h3>About eLearning Platform</h3>

          <p
            style="font-family:sans-serif;color:black;font-style:italic;font-weight:bold; text-align: left;padding-top: 20px;">
            The eLearning platform is made to provide the educational support for the intermediate students and
            matriculation passed students. The type of education we are providing is technical and interpersonal skills.
            These skills are helpful for the upskilling themselves to stand as the eminent one among the community. The
            skills developed by the students of this edu site will be able to secure the greatest of jobs in Indonesia
            and will lead to a sustainable life among the community.

            Education is not only for a degree; it's for knowledge. Knowledge is not only for memorizing; it's for
            working over it to bring miracles to the world. </p>

          <div class="button">
            <a href="/course"><button>Get Started</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="banner3">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="container3" style="font-family: sans-serif;font-weight: bold;font-style:normal;color: black;">
            <p class="promo-title">
              <h1 style="color: black;font-family: sans-serif;">Career choosing Test</h1>
            </p>
            <p>
              <h2>RIASEC Model</h2>
            </p>
            <p>
              <h3>Holland’s Theory</h3> <br>
              Holland’s theory posits that people can be categorized according to six personality types—Realistic,
              Investigative, Artistic, Social, Enterprising, and Conventional—known collectively as RIASEC. Use the
              interactive hexagon graphic below to explore the six RIASEC personality types in more detail.
              <br>
              <i><u>REALISTIC</u><br>
                Realistic types generally like to work with things more than with people. They are often described as
                genuine, sensible, practical, natural, thrifty, modest, persistent, and honest.
                <br>
                <u>INVESTIGATIVE</u><br>
                Investigative types typically like to work with ideas more than with people or things. They are usually
                described as logical, curious, exact, intellectual, cautious, independent, quiet, and modest.
                <br>
                <u>ARTISTIC</u><br>
                Artistic types usually like to work with ideas more than with things. They are usually described as
                open,
                creative, independent, emotional, impulsive, and original.
                <br>
                <u>SOCIAL</u><br>
                Social types typically like to work with people more than with things. They are often described as
                helpful, understanding, responsible, warm, cooperative, convincing, friendly, kind, generous, and
                patient.
                <br>
                <u>ENTERPRISING</u><br>
                Enterprising types generally like to work with people and ideas more than with things. They are usually
                described as outgoing, adventurous, energetic, optimistic, sociable, and self-confident.
                <br>
                <u>CONVENTIONAL</u><br>
                Conventional types generally like to work with papers and numbers. They are typically described as
                practical, careful, thrifty, efficient, orderly, and persistent.
                <br></i>
              <div class="button">
                <a href="/riasec"><button>Get Started</button></a>
              </div>

            </p>
          </div>
        </div>
      </div>
  </section>

  {% include 'section/social_media.html' %}
  {% include 'section/footer.html' %}

</body>

</html>