<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Law and Society</title>
  {% include "section/load_head.html" %}
  </head>

<body>
  {% include "section/navbar.html" %}
  <section id="about-course">
    <div class="about-course">
      <h1>About the Course</h1>
      <h2>Importance of Law in Society</h2>
      <p>The law is important for a society for it serves as a norm of conduct for citizens. It was also made to provide
        for proper guidelines and order upon the behaviour for all citizens and to sustain the equity on the three
        branches of the government. It keeps the society running. Without law there would be chaos and it would be
        survival of the fittest and everyman for himself. Not an ideal lifestyle for most part.</p>

      <p>The law is important because it acts as a guideline as to what is accepted in society. Without it there would
        be conflicts between social groups and communities. It is pivotal that we follow them. The law allows for easy
        adoption to changes that occur in the society.</p>
    </div>
  </section>
  <section id="video-class">
    <div class="video-class">
      <h3>Here you go with the video tutorials.
        Watch till the end to know about the assignments and details regarding assessment.</h3>
      <div class="video-law">
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLVLoWQFkZbhWEImjfiMjWjJ5_4am6xpoj" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLVLoWQFkZbhXORd15t2WDlSAmOP-7k2BT" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLVLoWQFkZbhUem1oyOxeQjRUNA3-z04eQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLB5ECDeclpYoU4y4849xANwJ9VW_rKxrs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <h3 style="padding: 10px;margin: 10px;">Free courses related to Law and Society provided by Open University has been
    embeded to the page. Make use of it. The course will be free only for the user logged in through this page.
    Happy Learning!</h3>
  <iframe
    src="https://www.open.edu/openlearn/society-politics-law/sociology/getting-started-spss/content-section-0?active-tab=description-tab"
    width="95%" height="500px" align="center"></iframe>


  {% include "section/submit.html" %}

  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}


</body>

</html>