<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  {% include "section/load_head.html" %}
</head>

<body>
  
  {% include "section/navbar.html" %}
  <section id="about-course">
    <div class="about-course">
      <h2>About the course</h2>
      <h4>Why are soft skills important in the workplace? </h4>
      <p>The modern workplace is interpersonal. Collaborations are an integral component of any workplace. Skills such
        as listening and writing ensure that there is a smooth flow of ideas without any conflicts. This creates a
        productive and healthy work environment.<p>
          <p>Soft skills set you apart. Good communication and negotiation skills can help you gain an edge over other
            candidates. Hard skills can be learnt in a limited time but these skills are harder and take longer to
            develop, since they depend more on your nature rather than knowledge level. Having these skills can help you
            deal with challenges in the workplace.</p>
          <p>They complement hard skills. Technical skills aren’t enough to bring out your best in a job. All careers
            require soft skills to utilise technical expertise at the right time and place. For example, if an executive
            is trying to close a deal with a customer, they will need sales knowledge along with excellent communication
            skills. </p>
          <p>Future workplaces will depend more these skills. With advancements in technology, many technical jobs are
            beginning to be outsourced to automation and artificial intelligence (AI). This will result in more jobs
            relying on soft skills to be the key differentiators in a workplace.</p>
          <h4>How can you develop soft skills?</h4>
          <p>You can learn these skills by enrolling in various soft-skill courses at different institutions. You can
            also keep practicing the following habits to enhance them.</p>

          <p>Aim to be heard: To communicate effectively, it is essential that you are mindful of the other person’s
            wishes and sensibilities. You should avoid offensive language or remarks that might hurt the other person.
            Make sure you have an idea of what the other person wants to talk about before changing the topic of
            conversation.</p>
          <p>Make eye contact during face-to-face interactions: Direct eye contact provides assurance that you are
            paying attention to the other person. The recipient will feel more engaged in the conversation.</p>
          <p>Monitor your body language and observe others: Be conscious of your body language when you interact with
            others. Make sure you send out positive vibes and try not to come across as closed-off, defensive or rude.
            You can develop these abilities over time by keenly observing how other individuals interact. You should
            follow their posture, gestures, tone of voice and eye contact to gather clues about their thought processes.
          </p>

          <p>Practice public speaking: If you feel uncomfortable with public interactions, try speaking in front of a
            mirror. With practice, your speech will flow more naturally. Be aware of your pace, tone and volume.</p>
          <p>Work on your listening skills: You must be a good listener to be a good communicator. Be aware of the urge
            to interrupt someone when they are talking. Always let the other person finish before putting your point
            across.
            Improve your written communication: You can take courses or join free workshops to improve your written
            communication skills. Anything you write should be clear and concise and make the reader understand your
            point of view.</p>
    </div>
  </section>
  <section id="video-class">
    <div class="video-class">
      <h3>Here you go with the video tutorials.
        Watch till the end to know about the assignments and details regarding assessment.</h3>
      <div class="video-law">
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLJvrw2GDzjfOMbC0BGcF_w5ECRdoBFcpF" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLWPirh4EWFpFIElSxplDlEhRDZHkBD-0n" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLOaeOd121eBEEWP14TYgSnFsvaTIjPD22" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PL8dPuuaLjXtMwV2btpcij8S3YohW9gUGN" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  
  {% include "section/submit.html" %}

  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}

</body>

</html>