<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mathematics</title>
  {% include "section/load_head.html" %}
</head>

<body>
  {% include "section/navbar.html" %}

  <section>
    <div class="preface-maths">
      <h2>About the Course</h2>

    </div>
  </section>
  <section id="getstarted">
    <div class="getstarted">
      <a href="#maths-videos"><button type="button" class="btn btn-primary btn-lg btn-block">Get Started with
          Tutorials</button></a>

    </div>
  </section>
  <section id="content-maths">
    <div id="content-maths">
      <h3>Mathematics for Industrial Level</h3>



      <p>The reason why economists adopted mathematics as the language (and yes it is a language!) to create their
        models is that it is super super hard to be imprecise with mathematics. Sure, it can be hard for a layman or
        even fellow economists to undersrand, but when you use mathematics as a language to model economic phenomena, it
        forces you to be very explicit about your (often unrealistic) assumptions and how you prove your results. It's
        really easy to claim in blocks of text that certain things cause certain economic phenomena and obfuscate it
        with the English language to hide any logical fallacies/inconsistencies. However, it is really difficult to do
        this with mathematics, so when writing a proof of something, it's really easy to pick up where a person's model
        is actually false.</p>

      <p>The second big reason is that we want to be able to show quantitatively causal links and forecast the effects
        of policies and other economic phenomena. Using the tools of mathematics, we can take economic intuition and
        insight and rigorously develop a model that both establishes under what conditions we might observe x causing y
        but also to what degree x can affect y. Calculus and dynamic programmingfor example enable economists to show
        how agents optimize their decisions over a time horizon and with uncertainty. Economists often also use what are
        called fixed point theorems to prove the existence of equilibrium in an economy. Without mathematics, all we
        could do is claim x causes y and not be able to show how it occurs except through vague wording and will still
        be unable to provide precise predictions as to how it works. For example, it's really easy to say supply and
        demand equate in general equilibrium because shortages and surpluses will drive prices up and down but it's much
        harder to show that given a set of n goods with time and uncertainty, can economic forces influence prices such
        that they clear all markets by equating supply and demand?</p>

      <p>I also wanted to add one thing about Ryan's comment about big data modeling. Although big data is certainly
        affecting the economics profession and will be a useful tool, a huge gaping issue with big data is that it's
        primarily a predictive statistical tool. Data scientists are more interested in finding what relationships exist
        in data than finding out why they occur. Big data thus is really good at predicting behavior but it fails to
        explain what causes people to do certain things and is therefore not the greatest tool to determine how a policy
        change might affect the economy (like a tax cut). Economists, however, don't want to just find statistical
        associations. They want tk establish causal relationships and figure out what causes what in the economy.
      </p>
    </div>
  </section>

  <section id="maths-videos">
    <div class="maths-videos">

      <center>
        <div class="listname">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#Chapter1" role="tab"
                aria-controls="pills-home" aria-selected="true">Chapter 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Chapter2" role="tab"
                aria-controls="pills-profile" aria-selected="false">Chapter 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                aria-controls="pills-contact" aria-selected="false">Chapter 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Chapter2" role="tab"
                aria-controls="pills-profile" aria-selected="false">Chapter 4</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Chapter2" role="tab"
                aria-controls="pills-profile" aria-selected="false">Chapter 5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Chapter2" role="tab"
                aria-controls="pills-profile" aria-selected="false">Chapter 6</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Chapter2" role="tab"
                aria-controls="pills-profile" aria-selected="false">Chapter 7</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#Chapter2" role="tab"
                aria-controls="pills-profile" aria-selected="false">Chapter 8</a>
            </li>
          </ul>
          <div class="tab-content" id="Chapter1">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <iframe width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyWEDFIyNoFqSqVhK2y10AYe" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="Chapter2" role="tabpanel" aria-labelledby="pills-profile-tab"><iframe
                width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyXM9je_9GOCW9QDIZOkD6OQ" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <h4 id="list-item-2">Chapter </h4>

            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
            <div class="tab-pane fade" id="Chapter3" role="tabpanel" aria-labelledby="pills-contact-tab">
              <iframe width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyUiRqF4YhFWavZaxiHvQAKw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="Chapter4" role="tabpanel" aria-labelledby="pills-contact-tab"><iframe
                width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyXodNYjhb9uGcY2_xVA6Ci8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="Chapter5" role="tabpanel" aria-labelledby="pills-contact-tab"><iframe
                width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyXKxbqmdwv31pOU1bVlH0xf" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="Chapter6" role="tabpanel" aria-labelledby="pills-contact-tab"><iframe
                width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyVQocMCXA5eyaMCYoqe1pIW" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="Chapter7" role="tabpanel" aria-labelledby="pills-contact-tab"><iframe
                width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyXRebhCJIlND669wdA84v3Y" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
            <div class="tab-pane fade" id="Chapter8" role="tabpanel" aria-labelledby="pills-contact-tab"><iframe
                width="560" height="315"
                src="https://www.youtube.com/embed/videoseries?list=PL5yiS3c1AIyUnRvwOXTAegcxSH1SSdor4" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
      </center>
    </div>
  </section>

  <br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>

  {% include "section/submit.html" %}

  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}

</body>

</html>