<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Science and Technology</title>
  {% include "section/load_head.html" %}
</head>

<body>
  
  {% include "section/navbar.html" %}

  <section id="about-course">
    <div class="about-course">
      <h2>So why study science? And why is getting more students interested in studying science at university so
        important?</h2>
      <p>Science is one of the oldest and most important academic disciplines, and covers a wide variety of subjects. It
        is also one of the fundamental parts of the term STEM, used to refer to science, technology, engineering and
        mathematics.</p>

      <p>In many countries around the world, the matter of how to promote STEM subjects is a hot topic. This is
        particularly true of the sciences, which can lead to many great degree options for students.</p>

      <p>Firstly, science helps our understanding of the world around us. Everything we know about the universe, from
        how trees reproduce to what an atom is made up of, is the result of scientific research and experiment.</p>
    </div>
  </section>
  <section id="video-class">
    <div class="video-class">
      <h3>Here you go with the video tutorials.
        Watch till the end to know about the assignments and details regarding assessment.</h3>
      <div class="video-science">
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLhf4hr_x5XyQg23-SRDXhsNfKb3FY8sQc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLhf4hr_x5XyTS91Z3OHALzGu7HQk0r1f3" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLhf4hr_x5XyRPWPGmVPKT7sOAyNMnBgwR" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLhf4hr_x5XySaDK3L-g-Q5GHo3UgGUE7n" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315"
          src="https://www.youtube.com/embed/videoseries?list=PLhf4hr_x5XyTBP2bkYHj4rPYq4RDmGnMR" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </section>

  {% include "section/submit.html" %}

  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}

</body>

</html>