<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>webinar</title>
  {% include "section/load_head.html" %}
</head>

<body>
  {% include "section/navbar.html" %}

  <div class="backgroundforweb">
    <section id="webinar">
      <div class="webinar">
        <p>Right now there's no upcoming webinars. Once the series of webinar starts we'll conduct the webinars every
          week thrice to keep you updated regarding the emerging technologies and present world trends. We'll try making
          the webinars on career building, personality building, workshops on mathematics and also webinars related to
          showcasing the another side of Indonesia along with how can you help them get the life like ours.</p>
      </div>
    </section>
  </div>

  {% include "section/social_media.html" %}
  {% include "section/footer.html" %}

</body>

</html>